<div class="about-body">
  <div class="about-container">
    <div class="about-info">
      <!-- gmlml -->
      <h4>Hello There!!</h4>
      <p>
        Ayomide Akande is a graduate from the Department of Chemistry, University of Ibadan. A believer, 
        an aspiring novelist and a volunteer. 
      </p>
      <p>
        She loves to read, write and hopes to give encouragement to all who needs it. 
        She believes that her purpose is centered around writing or speaking to make people feel better, 
        a person at a time.
      </p>
    </div>
    <div class="about-img">
      <img src="assets/images/ayo-small.jpg" alt="Ayomide">
    </div>

  </div>

</div>