.intro {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  margin: 0 auto;
  background: var(--text-color);
}

.intro img {
  max-width: 100%;
  width: 85%;
  height: auto;
  border-radius: 9px;
  padding: 0 0.5rem;
}

.intro .quickIntro {
  width: 85%;
  margin:4px auto 0;
  padding: 1rem;
  background: var(--bg-color);
  line-height: 1.5;
  font-size: 15.8px;
  border-radius: 5px;
}

@media screen and (min-width: 670px) {
  .intro {
    display: flex;
    justify-content: space-around;

    & > img {
      width: 45%;
      height: 400px;
    }

    &> .quickIntro {
      width: 38vw;
      margin: auto;
      font-size: 16.7px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .intro {

    & > img {
      width: 40%;
      height: 400px;
    }
  }
}

.stories {
  margin: auto;
  text-align: center;

}

path {
  fill: var(--text-color);
}
@import './cards';