<div class="body">
  <div class="intro">
    <img src="assets/images/ayo3.jpg" alt="Ayomide">

    <div class="quickIntro">
      <h2>Meet Ayomide!</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Soluta consequatur doloribus totam, dicta officia deleniti dolorum nostrum
        assumenda numquam explicabo velit alias blanditiis voluptates,
      </p>
    </div>

  </div>
  <img src="assets/images/wave.svg" alt="wave">

  <div class="stories">
    <h3>Latest Posts</h3>

    <section>
      <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url(assets/images/bill.jpg)"></div>
          <ul class="details">
            <li class="author"><a href="#">John Doe</a></li>
            <li class="date">Aug. 24, 2015</li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>Working Remotely?</h1>
          <h2>Opening a door to the future</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <p class="read-more">
            <a href="#">Read More</a>
          </p>
        </div>
      </div>
      <div class="blog-card alt">
        <div class="meta">
          <div class="photo" style="background-image: url(assets/images/pandemic.jpg)"></div>
          <ul class="details">
            <li class="author"><a href="#">Jane Doe</a></li>
            <li class="date">July. 15, 2015</li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>Overcoming The Pandemic</h1>
          <h2>What Technology are Necessary to Overcome the Pandemic</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <p class="read-more">
            <a href="#">Read More</a>
          </p>
        </div>
      </div>
    </section>

  </div>
</div>