.intro {
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  margin: 0 auto;
}

.intro img {
  max-width: 100%;
  width: 85%;
  height: auto;
  border-radius: 50%;
  padding: 0 0.5rem;
}

.intro .quickIntro {
  margin: 4px auto 0;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 5px;
  font-size: x-large;
  text-transform: capitalize;

}

@media screen and (min-width: 670px) {
  .intro {
    display: flex;
    justify-content: space-around;

    img {
      width: 43%;
      height: 335px;
    }

    .quickIntro {
      margin: auto;
      font-size: xx-large;
      padding: 21px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .intro {

    img {
      width: 35%;
      height: 400px;
    }
  }
}

.stories {
  margin: auto;
  text-align: center;

}

path {
  fill: var(--text-color);
}
@import './cards';