<div class="navbar-component">
  <!-- Class `area` is a container -->
  <div class="navbar area">
    <!-- Logo -->
    <a href="/welcome" class="brand">The Development Bug</a>
    <!-- List of links -->
    <nav role="navigation" id="navigation" class="list" [ngClass]="{'-on': isNavOpen}">
      <a href="#" class="item -link">blog</a>
      <a [routerLink]="['/contact']" class="item -link">contact</a>
      <a [routerLink]="['/about']" class="item -link">About</a>
      <a class="item -link" id="theme-switcher" (click)="toggleColor($event)">switch</a>
    </nav>
    <!-- Button to toggle the display menu  -->
    <button data-collapse data-target="#navigation" class="toggle" (click)="toggleNav()" [ngClass]="{'-active': isNavOpen}">
      <!-- Hamburger icon -->
      <span class="icon"></span>
    </button>
  </div>
</div>

  <router-outlet></router-outlet>
  
<footer>
  <div>
    <ul>
      <li><a href="https://twitter.com/sambayo_dev">Twitter</a></li>
      <li><a href="https://LinkedIn.com/in/sambayo">LinkedIn</a></li>
      <li><a href="mailto:sambayo28@gmail.com">Email</a></li>
      <li>
        <p>👋</p>
      </li>
    </ul>
  </div>
  <p>
    <span>Made with <span class="heart">♥</span> by Samuel Adebayo</span>
  </p>
</footer>