<div class="navbar-component">
  <!-- Class `area` is a container -->
  <div class="navbar area">
    <!-- Logo -->
    <a href="/welcome" class="brand">The Development Bug</a>
    <!-- List of links -->
    <nav role="navigation" id="navigation" class="list" [ngClass]="{'-on': isNavOpen}">
      <a [routerLink]="['/posts']" class="item -link">Posts</a>
      <a [routerLink]="['/contact']" class="item -link">Contact</a>
      <a [routerLink]="['/about']" class="item -link">About</a>
      <a class="item -link" id="theme-switcher" (click)="toggleColor($event)">
        <svg *ngIf="!isLight" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
        
        <svg *ngIf="isLight" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
      </a>
    </nav>
    <!-- Button to toggle the display menu  -->
    <button data-collapse data-target="#navigation" class="toggle" (click)="toggleNav()" [ngClass]="{'-active': isNavOpen}">
      <!-- Hamburger icon -->
      <span class="icon"></span>
    </button>
  </div>
</div>

  <router-outlet></router-outlet>
  
<footer>
  <div>
    <ul>
      <li><a href="https://twitter.com/sambayo_dev">Twitter</a></li>
      <li><a href="https://LinkedIn.com/in/sambayo">LinkedIn</a></li>
      <li><a href="mailto:sambayo28@gmail.com">Email</a></li>
      <li>
        <p>👋</p>
      </li>
    </ul>
  </div>
  <p>
    <span>Made with <span class="heart">♥</span> by Samuel Adebayo</span>
  </p>
</footer>