/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&family=Indie+Flower&display=swap');
// "./node_modules/@angular/material/prebuilt-themes/purple-green.css",

:root {
  --bg-color: #f3f7f9;
  --text-color: #444;
  --card-bg-color: #fff;
  --card-text-color: #000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.7s ease;
}

[data-theme="dark"] {
  --bg-color: #0d2538;
  --text-color: #fff;
  --card-bg-color: #0f2d44;
  --card-text-color: #fff;
}
